<form method="POST" action="/variants/{% if variant.id %}{{ variant.id }}{% endif %}" class="formContainer">
    {% if variant.id %}
        <input type="hidden" name="id" value="{{ variant.id }}"/>
    {% endif %}
    <div>
        <label for="title" class="formLabel">Title: </label>
        <input type="text" name="title" id="title" value="{{ variant.title }}"/>
    </div>
    <br>
    <div>
        <label for="slug" class="formLabel">Slug: </label>
        <input type="text" name="slug" id="slug" value="{{ variant.slug }}"/>
    </div>
    <br>
    <div>
        <label for="description" class="formLabel">Description: </label>
        <input type="text" name="description" id="description" value="{{ variant.description }}"/>
    </div>
    <br>
    <div>
        <label for="price" class="formLabel">Price: </label>
        <input type="text" name="price" id="price" value="{{ variant.price }}"/>
    </div>
    <br>
    <div>
        <label for="productId" class="formLabel">Product: </label>
        <select name="productId">
            {% for product in products %}
                <option value="{{ product.id }}" 
                    {% if product.id == variant.productId %}selected="selected"{% endif %}>
                    {{ product.title }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="submitButton">
        <input type="submit" type="submit" />
    </div>
</form>