{% extends "../../layouts/base.twig" %}

{% block main_content %}
	<h2>About
		{{ variant.title }}
		{{product.title}}:</h2>
	<ol>
		<li>
			<label>Id:
			</label>
			{{ variant.id }}
			<br>
			<label>Title:
			</label>
			{{ variant.title }}
			<br>
			<label>Slug:
			</label>
			{{ product.slug }}
			<br>
			<label>Description:
			</label>
			{{ variant.description }}
			<br>
			<label>Price:
			</label>
			{{ variant.price }}
			<br>
			<label>Product:
			</label>
			{{ product.title }}
			<br>
			<label>Inventory:
			</label>
			{{ product.length }}
		</li>
	</ol>
	<p>
		<a href="/variants/{{ variant.id }}/edit" class="editDeleteCreateNew">Edit</a>
		|
		<a href="/variants/{{ variant.id }}/delete" class="editDeleteCreateNew">Delete</a>
	</p>
{% endblock %}
