{% extends "../../layouts/base.twig" %}

{% block main_content %}
	<h2>About Image
		{{image.title}}:</h2>
	<ol>
		<li>
			<label>Id:
			</label>
			{{ image.id }}
			<br>
			<label>Assigned Variant:
			</label>
			{{ variant.title }}
		</li>
	</ol>
	<p>
		<a href="/images/{{ image.id }}/edit" class="editDeleteCreateNew">Edit</a>
		|
		<a href="/images/{{ image.id }}/delete" class="editDeleteCreateNew">Delete</a>
	</p>
{% endblock %}
