<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}" class="formContainer">
    <h2>New Product</h2>
	{% if product.id %}
		<input type="hidden" name="id" value="{{ product.id }}"/>
	{% endif %}
	<div>
		<label for="title" class="formLabel">Name:</label>
		<input type="text" name="title" id="title" value="{{ product.title }}"/>
	</div>
	<br>
	<div>
		<label for="slug" class="formLabel">Slug:</label>
		<input type="text" name="slug" id="slug" value="{{ product.slug }}"/>
	</div>
	<br>
	<div>
		<label for="description" class="formLabel">Description:</label>
		<input type="text" name="description" id="description" value="{{ product.description }}"/>
	</div>
	<br>
	<div>
		<label for="price" class="formLabel">Price:</label>
		<input type="text" name="price" id="price" value="{{ product.price }}"/>
	</div>
	<br>
	<div>
		<label for="isPublished" class="formLabel">Publshed:</label>
		<input type="text" name="isPublished" id="isPublished" value="{{ product.isPublished }}"/>
	</div>
	<br>
	<div class="submitButton">
		<input type="submit" type="submit"/>
	</div>
</form>
